---
layout: default
sitename: JOHANSSON.JP
---

<h1>{{ page.sitename }}</h1>

<h2>{{ page.title }}</h2>

{{ content }}

<h4>I'm John-Philip Johansson,</h4>
<p>a 30+ programmer living in Stockholm, Sweden. I like to <a href="http://goodreads.com/Seriema">read</a>, play video games, and drink beer with my friends. I love learning new things, but I also like sharing the knowledge. Usually it's just random thoughts on <a href="https://twitter.com/seriemajp">Twitter</a>. Sometimes it's some quick doodle on <a href="http://codepen.io/seriema">CodePen</a> or a mini-project on <a href="https://github.com/seriema">GitHub</a>.</p>

<p>If you're curious about my career, it's all up on <a href="http://se.linkedin.com/in/jpjohansson">LinkedIn</a> and <a href="http://careers.stackoverflow.com/seriema">Careers 2.0</a>.</p>