/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}


/* Custom page footer */
.footer {
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.jumbotron {
    font-size: 21px; /* missing in bootswatch */
}

.jumbotron .col-xs-2 {
}

/* Bootswatch override */
/* Disable this for now. I'm using a mix of icon images and fonts so hover doesn't work correctly.
a:hover, a:focus {
    color: #C8C8C8;
}*/