/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.img-icon {
    max-width: 45px;
    display: inline-block;
    line-height: 1;
    margin-bottom: 15px;
}

.jumbotron {
    font-size: 21px; /* missing in bootswatch */
}

.jumbotron .col-xs-2 {
    height: 50px; /* unsure why this is needed */
}

/* Bootswatch override */
/* Disable this for now. I'm using a mix of icon images and fonts so hover doesn't work correctly.
a:hover, a:focus {
    color: #C8C8C8;
}*/