/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}


/* Custom page footer */
.footer {
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
}

/* Override jumbotron */
.jumbotron a {
  color: #fff;
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: 0.3s;
}
.jumbotron a:focus,
.jumbotron a:hover {
  opacity: 0.5;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}
.jumbotron .icon {
    margin-top: 20px;
}

/* Feedback from Joel */
.panel-heading {
  padding: 20px 15px;
}
.panel-title {
  text-align: center;
  font-size: 32px;
}

/* missing in bootswatch */
.jumbotron {
    font-size: 21px;
}


/* Simple flexbox, borrowed from http://www.bootply.com/126437 */
.row-flex,
.row-flex > [class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.row-flex-wrap {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  align-content: flex-start;
  flex: 0;
}
.row-flex > [class*='col-'] {
  flex: 0 1 auto;
  margin: -1px; /* hack adjust for wrapping */
}
