<div class="jumbotron">
    <h1>johansson.jp</h1>
    <p class="lead">[insert buzzwords here]</p>
    <p>
        <a href="mailto:seriemaATgmailDOTcom" title="Email"><i class="fa fa-envelope fa-2x"></i></a>
        &nbsp;
        <a href="http://seriemajp.wordpress.com" title="Blog"><i class="fa fa-book fa-2x"></i></a>
        &nbsp;
        <a href="https://twitter.com/seriemajp" title="Twitter"><i class="fa fa-twitter fa-2x"></i></a>
        &nbsp;
        <a href="https://www.facebook.com/johnphilip.johansson" title="Facebook"><i class="fa fa-facebook fa-2x"></i></a>
        &nbsp;
        <a href="https://github.com/seriema" title="Github"><i class="fa fa-github-alt fa-2x"></i></a>
        &nbsp;
        <a href="https://stackexchange.com/users/361373/john-philip" title="StackExchange"><i class="fa fa-stack-exchange fa-2x"></i></a>
        &nbsp;
        <a href="http://se.linkedin.com/in/jpjohansson" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
    </p>
</div>

<div class="row">
    <div class="col-md-12">
        <p>I'm a passionate programmer and I love every bit of my craft. I love the way building things make me feel and how I can continually learn new things, every second. When I have a problem, I can create the solution. That feeling of empowerment is the reason I'm a monthly donator to Wikipedia, Khan Academy, and EEF.</p>
        <p>I have <em>six</em> main passions in life (not counting people):</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Reading</h2>
            </div>
            <div class="panel-body">
                <p>I love reading. It can be books, articles, or even ads on the subway (I hate ads, but I like to get a feel of trends). I try to read 40 books a year, but I cheat by inluding audiobooks and graphic novels (or comics with over 500 pages).</p>
                <p>I've requested a simpler API from Goodreads so I can create my own widget and show what I'm reading, but that might take a while. Their current solution is based on OAuth, which basically means you would see the books <strong>you're</strong> currently reading, not mine. Boo.</p>
                <p>It's hard to say what's my favourite book of all time, but the ones that got me started are Swedish ones when I was in my teens. I read pretty much all <em>Bert's Dagböcker</em>, and later I read <em>Jan Guillou's</em> <em>Ondskan</em> and the <em>Templar</em>-books.</p>
                <p>You can follow my reading on <a href="http://goodreads.com/Seriema">GoodReads</a>.</p>

            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Coding</h2>
            </div>
            <div class="panel-body">
                <p>I love coding, and currently I'm focusing on... Here I'd like to grab my activity on GitHub and post it, but it wouldn't be fair because I use <em>a lot</em> of different services just to try them out. Like jsbin, codepen, koding, codio, and others I've forgotten.</p>
                <p>I've involved myself in OSS since it became a <em>thing</em>. My earliest contribution was to TinyXML, remember that one? Now in later days, here are some projects I'm proud to have contributed to:
                <ul>
                    <li>Twitter Bootstrap: I made the move from makefile to GruntJS.</li>
                    <li>Holder.js: Replaced makefile with GruntJS.</li>
                    <li>Raphäel: Yepp, GruntJS instead of makefile.</li>
                </ul>
                </p>
                <p>My most popular "creation" is probably ThumbView. You know how you preview images in Explorer/Finder? Well, way back in Win XP it didn't support the popular TGA and PNG files - so I added that. So far both versions have been downloaded <strong>over a quarter-million times</strong> in total. I've attempted to create sequels to it, but Windows <del>damn</del> <em>important</em> UAC stops every attempt so far.</p>
                <p>You can follow my coding on <a href="https://github.com/seriema">Github</a> and <a href="http://codepen.io/seriema">Codepen</a>.</p>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Teaching</h2>
            </div>
            <div class="panel-body">
                <p>Thanks to the inspiration of great friends and teachers, I've started giving talks and mentorships. I try to organize various activities where learning is the focus. Some of these activities are completely on my spare time, like these talks I've given:
                <ul>
                    <li><a href="http://www.slideshare.net/johnphilipjohansson/kan-man-lara-sig-ux-pa-en-helg">Teaching students UX in a weekend?</a></li>
                    <li><a href="http://bit.ly/webfrontend">Web development</a> (videos: session <a href="#">1</a>, <a href="#">2</a>, <a href="#">3</a>)</li>
                    <li><a href="http://www.slideshare.net/johnphilipjohansson/yeoman-workflow-27143476">Yeoman workflow</a> (<a href="#">video</a>)</li>
                    <li><a href="http://www.slideshare.net/johnphilipjohansson/ux-open-2013-edited">Wireframed</a> (<a href="#">video</a>)</li>
                </ul>
                </p>
                <p>I also host various "haxx" as me and my friends call it. It's mini-hackathons, usually at my place. We're social coders I guess, because we code best close to other people without necessarily coding with them.</p>
                <p>At work I can't help trying to engage people and spread the love of code. Besides giving presentations I've organized "learning at lunch", book club, hackathons, code dojos, and my biggest endeavour: <em>Mad Mondays</em>. Mad Mondays occur on the first Monday every month and it's a full day of focused working on a new concept with up to four co-workers. So far we've done Windows 8 slate prototypes, phone app concepts, pure concepts, and even had Tobii visit to create usages for eye-tracking.</p>
                <p>I love writing (other than code) and it happens that I blog when I think I've done something notable of other peoples attention. Otherwise I do a bit of tweeting, although mostly retweets I guess.</p>
                <p>You can follow my thoughts on my <a href="http://seriemajp.wordpress.com" title="Blog">blog</a>, <a href="https://twitter.com/seriemajp" title="Twitter">Twitter</a>, and <a href="http://www.slideshare.net/johnphilipjohansson">Slideshare</a>.</p>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Working</h2>
            </div>
            <div class="panel-body">
                <p>I have a BSc in Computer Engineering, Real-Time Systems, and an unfinished MSc in Computer Engineering, Human-Computer Interaction. All from the Royal Institute of Technology, Sweden.</p>
                <p>I've had summer jobs and the like for as long as I was legally allowed to work, but my "career" started in 2007 when I founded my own company and worked as a freelancer.</p>
                <p>In 2009 I decided to stop running everything myself and joined a company. Since then I've moved around a bit and I'm currently UX Developer Lead at Avanade.</p>
                <p>You can follow my career on <a href="http://se.linkedin.com/in/jpjohansson" title="LinkedIn">LinkedIn</a> and <a href="http://careers.stackoverflow.com/seriema" title="Careers 2.0">Careers 2.0</a>.</p>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Gaming</h2>
            </div>
            <div class="panel-body">
                <p>On my spare time I usually do one of the above activities, but I do like to play video games from time to time. Mostly on my Xbox 360 (not sure if I'll get the One) on my home cinema, but sometimes the game I want to play is only on PC so then I prefer Steam.</p>
                <p>I love games and I was blessed with the opportunity to work on the great Mirror's Edge, by EA DICE, in 2007-2008.</p>
                <p>If I would pick my favourite all-time games it would probably be Fallout 1&2 and Planescape: Torment. I hope for a return to those days so that's why I love Kickstarter.</p>
                <p>You can see games I back on <a href="https://www.kickstarter.com/profile/504884744" title="Kickstarter">Kickstarter</a> and what I play through <a href="http://raptr.com/Seriema" title="Raptr">Raptr</a> or directly at <a href="http://steamcommunity.com/id/seriema" title="Steam community">Steam</a> (why doesn't Xbox have a public profile?).</p>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Relaxing</h2>
            </div>
            <div class="panel-body">
                <p>Some people say I never relax, but I do. I just do it intensely, like sleeping. Like my dad always said, if you're going to do something then do it properly.</p>
                <blockquote>
                    <p>If you're going to do something then do it properly.</p>
                    <small>Dad</small>
                </blockquote>
                <p>I try to go to the gym and dance at clubs to keep me in shape. Although I negate that by having lots of beers with friends.</p>
                <p>I love learning new things, keeping my brain engaged is what keeps me most relaxed and at ease.</p>
                <p>You can follow my relaxing... actually, no, you can't.</p>
            </div>
        </div>

    </div>
</div>

<footer class="footer">
    Created by JP, 2014.
</footer>